{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form method="post" role="form">
    <div class="form-group">
      <label for="username" class="control-label">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="enter your username">
    </div>
    <div class="form-group">
      <label for="password" class="control-label">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="enter your password">
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
  </form>
{% endblock %}

